{% extends 'base.html' %} {% block content%}


<div class="container" style="margin-left: 100px;">
    <br>
    <br>
    <br>
 
    <h3 class="pb-3 mb-4 font-italic text-center" style="font-family: 'Shadows Into Light', cursive;
    "><b>My Blogs</b></h3>

  <div class="row">
    <div class="col-md-8 blog-main" style="margin-left: 100px;">
        <ol>
      {% for blog in blogs %}
      <div class="blog-post">
        <h2 class="blog-post-title" style="color: black;">
          <a href="{% url 'detail' blog.id %}"> <li style="color: black;"><u>{{ blog.blog_title }} </u></li></a>
        </h2>
        <p class="blog-post-meta">
          {{ blog.blog_date }} by <a href="#">Shivam Prakash</a>
        </p>
        <p>{{ blog.blog_descritions|striptags|truncatechars:100 }}</p>
        <a href="{% url 'detail' blog.id %}"><button type="button" class="btn btn-light read" style="margin-bottom: 10px;">Full Blog</button></a>
        

        {% endfor %}
    </ol>
        <br><br>
        <nav class="blog-pagination">
          <a class="btn btn-outline-dark" href="#">Older</a>
          <a class="btn btn-outline-dark disabled" href="#">Newer</a>
        </nav>
      </div>
    
    </div>
  </div>

</div>

  {% endblock %}
