.contain {
  z-index: 99999;
}
img.im:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 10px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
img.im {
  width: 150px; /* You can set the dimensions to whatever you want */
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
}
a,
a:hover {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
.card1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0), 0 0 6px rgba(0, 0, 0, 0);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  text-align: center;
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(20, 20, 20, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.sidebar {
  text-align: center;
  background: #ffffff;
  margin-top: 31%;
  margin-left: 1%;
  position: fixed;
  top: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 0px;
}

.sidebar a {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  text-decoration: none;
  color: black;
  font-size: 1em;
  -webkit-box-align: center;
  align-items: center;
}
.sidebar a:hover {
  background: #ddd;
}
.sidebar a.active {
  color: white;
  background: #5d89ff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.sidebar a.active img {
  padding: 0.75em 0.8125em 0.75em 1.1875em;
}
.sidebar a.active::after {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-clip-path: inset(-5px -5px -5px 0);
  clip-path: inset(-5px -5px -5px 0);
  content: "";
  z-index: 2;
  background: #5d89ff;
  position: absolute;
  right: -0.5em;
  width: 0.5em;
  height: 100%;
  border-radius: 0 0.375em 0.375em 0;
}
.sidebar a img {
  padding: 0.75em 1em;
}

nav {
  z-index: 9999;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-bottom: 9px;
  padding-top: 0px;
}
h3 {
  font-family: "Shadows Into Light", cursive;
}
h5 {
  font-family: "Shadows Into Light", cursive;
}
h2 {
  font-family: "Shadows Into Light", cursive;
}
.p1 {
  font-family: "Shadows Into Light", cursive;
  font-size: x-large;
}
.btn-change6 {
  font-family: "Shadows Into Light", cursive;

  color: rgb(255, 255, 255);
  padding-top: 0%;
  padding-bottom: 0%;
  height: 40px;
  width: 80px;
  background: rgb(0, 0, 0);
  margin-top: 0;
  float: left;
  border-style: solid;
  border: 1px;
  box-shadow: 0 0 2px #ccc;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #c2c9cc inset;
}
.btn-change6:hover {
  box-shadow: 0 0 0 25px #c2c9cc inset;
  transform: scale(1);
}
.read {
  transition-duration: 0.4s;
}

.read:hover {
  background-color: #858383; /* Green */
  color: white;
}
.c1 {
  margin-left: 50px;
}
@media screen and (min-width: 767px) {
  .narrow-results {
    display: block;
  }
}
@media screen and (max-width: 766px) {
  .narrow-results {
    display: none;
  }
}
/* @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  }  */
